<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Ağ Programlama</title>
</head>


<body class="nav-md">
<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">Ağ Programlama
    <small>ödev 1</small>
</h1>
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
    <div class="right_col" role="main">
        <section>

            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Ders Kodu</th>
                        <th>Ders Adı</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lessons : ${lessons}">
                        <td th:text="${lessons.agID}"></td>
                        <td th:text="${lessons.dersinKodu}"></td>
                        <td th:text="${lessons.dersinAdi}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="container" id="lessonArea" style="display:none;">
                    <div class="col-md-10 center">

                        <div class="row">
                            <div class="col-md-2">
                                <span class="badge badge-pill badge-primary">Dersin Kodu</span>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="kod" placeholder="Ders Kodunu Girin">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <span class="badge badge-pill badge-primary">Dersin Adı</span>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ad" placeholder="Ders Adı Girin">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <span class="badge badge-pill badge-primary">Dersin İçeriği</span>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="icerik" placeholder="Ders İçeriği Girin">
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-md-4 pull-right">
                                <button id="getJson" type="button" class="btn btn-primary">JSON Göster</button>
                            </div>
                            <div class="col-md-4 pull-right">
                                <button id="getXML" type="button" class="btn btn-primary">XML Göster</button>
                            </div>
                        </div>
                        <br/> <br/>

                        <div class="row">

                            <label for="comment">Kodlanmış Veri:</label>
                            <textarea class="form-control" rows="7" id="comment"></textarea>
                        </div>
                        <br/><br/>
                    </div>
                </div>
            </div>


        </section>
    </div>


</div>
<div th:replace="LayoutDefault::js"></div>


<script>
    $(document).ready(function () {
        $("table tr:last").attr("id","myLesson");

        $("#myLesson").mouseenter(function () {
            $("#myLesson").css("cursor", "pointer");
        });

        $("#myLesson").click(function () {
            $("#ad").val($("#myLesson td:last").html());
            $("#kod").val($("#myLesson td:nth-child(2)").html());
            if ($('#lessonArea:visible').length === 0) {
                $("#lessonArea").fadeIn("slow");
            } else {
                $("#lessonArea").fadeOut("slow");
            }
        });
    });
    var dersKodu = "";
    var dersAdi = "";
    var dersIcerigi = "";
    var agID =5;



    $("input").keyup(function () { ajaxPost(); })

    function ajaxPost() {

        if (dersKodu !== $("#kod").val()) {
            dersKodu = $("#kod").val();
        }
        if (dersAdi !== $("#ad").val()) {
            dersAdi = $("#ad").val();

        }
        if (dersIcerigi !== $("#icerik").val()) {
            dersIcerigi = $("#icerik").val();
        }

        var json = {};
        json.agID = agID;
        json.dersin_kodu = dersKodu;
        json.dersin_adi = dersAdi;
        json.dersin_icerigi = dersIcerigi;
        $.ajax({
            url: "/agProgramlama/add",
            type: "POST",
            dataType:'json',
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }

        })
    }
    function objectToXml(obj) {
        var xml = '';

        for (var prop in obj) {
            if (!obj.hasOwnProperty(prop)) {
                continue;
            }

            if (obj[prop] == undefined)
                continue;

            xml += "<" + prop + ">";
            if (typeof obj[prop] == "object")
                xml += objectToXml(new Object(obj[prop]));
            else
                xml += obj[prop];

            xml += "<!--" + prop + "-->";
        }

        return xml;
    }
    $("#getJson").click(function(){
        $.ajax({
            url: "/agProgramlama/getAll",
            type: "GET",
            dataType:'json',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#comment").val(JSON.stringify(response));
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }

        })
    });
    $("#getXML").click(function(){
        $.ajax({
            url: "/agProgramlama/getAll",
            type: "GET",
            dataType:'json',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#comment").val(objectToXml(response));
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }

        })
    });
</script>

</body>

</html>