<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Reklam Ekleme</title>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
    <div class="right_col" role="main">
        <section layout:fragment="content">
            <div class="col-md-10">
                <div class="x_panel">
                    <h2>Kategori Ekle</h2>

                    <hr/>
                    <div class="x_content">
                        <form id="demo-form" data-parsley-validate>
                            <label>Kategori Adı * :</label>
                            <input type="text" id="categoryName" class="form-control" name="categoryname" required />
                            <br/>
                            <br/>
                            <label>Cinsiyet *:</label>
                            <p>
                                Erkek:
                                <input type="radio" class="flat" name="gender" id="erkek" value="1" checked="" required />
                                Kadın:
                                <input type="radio" class="flat" name="gender" id="kadin" value="2" />
                                Çoçuk:
                                <input type="radio" class="flat" name="gender" id="cocuk" value="3" />
                            </p>
                            <br/>
                        </form>
                        <button type="submit" id="save" class="btn btn-success" style="float:right;">Kaydet</button>

                    </div>
                    <!-- end form for validations -->
                </div>
                <div class="x_panel">
                    <h2>Kategori Listele</h2>

                    <hr/>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori Adı</th>
                                <th>Cinsiyet</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${category}">
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.categoryName}"></td>
                                <td th:text="${category.gender.getName()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <br/><br/>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                            <div style="text-align: center">
                                <h1><i class="fa fa-paw"></i> Smart Advertisement System</h1>
                                <p>©2018 All Rights Reserved.</p>
                            </div>
                    <br/><br/>

                </div>
            </div>
            </div>
        </section>
    </div>


</div>
<div th:replace="LayoutDefault::js"></div>


<script>
$("#cancelButton").click( function (){
    $("#categoryName").val('');

});

$("#save").click(function(){
    var category = $("#categoryName").val();
    var gender = $(".flat").val();

    var json = {};
    json.categoryName = category;
    json.gender = gender;

    $.ajax({
        url: "/category/add",
        type: "POST",
        dataType:'json',
        data: JSON.stringify(json),
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            console.log(response);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        }

    })
})


</script>

</body>
</html>