<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Reklam Ekleme</title>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
    <div class="right_col" role="main">
      <section>
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <form>
                      <h1>Reklam Ekle</h1>
                      <div>
                          <input type="text" class="form-control" id="advertisementName" placeholder="Reklam Adı" required/>
                      </div>
                      </br>
                      <div>
                          <input type="text" class="form-control" id="corporationTime" placeholder="Şirket Adı" required/>
                      </div>
                      </br>
                      <div>
                          <label>Reklam Süresi:<input type="time" class="form-control" id="time"  required/></label>
                      </div>
                      </br>
                      <div>
                          <label>
                              <input type="checkbox" class="radio" value="1" id="photo" name="fooby[1][]" />Fotoğraf</label>
                          <label>
                              <input type="checkbox" class="radio" value="1" id="video" name="fooby[1][]"/>Video</label>
                      </div>
                  </br>

                      <div>
                          <input type="file" class="form-control" id="file" placeholder="Dosya" required/>
                      </div>
                      <div>
                          <label>Kadın:<input type="radio" id="women" name="Kadın" required/></label>
                      </div>
                      <div>
                          <label>Erkek:<input type="radio" id="men" name="Erkek" required/></label>
                      </div>
                      <div>
                          <label>Çocuk:<input type="radio" id="child" name="Çocuk" required/></label>
                      </div>
                      </br>
                      <div>
                          <a class="btn btn-default submit" id="addButonAd">Ekle</a>
                          <a class="btn btn-default submit" id="closeButton">İptal</a>
                      </div>
                      <div class="clearfix"></div>

                      <div class="separator">

                          <div class="clearfix"></div>
                          <br />

                          <div>
                              <h1><i class="fa fa-paw"></i> Smart Advertisement System</h1>
                              <p>©2018 All Rights Reserved.</p>
                          </div>
                      </div>
                  </form>

              </div>
          </div>
      </section>
    </div>


</div>
<div th:replace="LayoutDefault::js"></div>


<script>
    $("input:checkbox").on('click', function() {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
    $("#registerButton").click(function (e) {


    });

/*
    $("#registerButton").click(function (e) {


        var advertisementName = $("#advertisementName").val();
        var corporationTime = $("#corporationTime").val();
        var durationTime = $("#durationTime").val();

        if(advertisementName!=""&&corporationTime!=""&&durationTime!=""){
            console.log("basarılı");
            return true;
        }
        else return false;
    });*/
</script>

</body>
</html>