<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Reklam Ekleme</title>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
    <div class="right_col" role="main">
      <section>
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <form action="advertisement/addAdvertisement" method="POST" name="form" id="form">
                      <h1>Reklam Ekle</h1>
                      <div>
                          <input type="text" name="advertisement_Name" width="60" class="form-control" id="advertisementName" placeholder="Reklam Adı" required/>
                      </div>
                      <br/>
                      <div>
                          <input type="text" name="corporation_Name" class="form-control" id="corporationName" placeholder="Şirket Adı" required/>
                      </div>
                      <br/>
                      <div>
                          <input type="text" name="advertisementCategory" class="form-control" id="advertisementCategory" placeholder="Kategori" required/>
                      </div>
                      <div>
                          <input type="text" name="gender" class="form-control" id="gender" placeholder="Cinsiyet" required/>
                      </div>
                      <div>
                          <input type="text" name="durationTime" class="form-control" id="durationTime" placeholder="Reklam Süresi" required/>
                      </div>
                      <br/>
                      <div>
                          <label>
                              <input type="checkbox" class="radio" value="1" id="photo"  />Fotoğraf</label>
                          <label>
                              <input type="checkbox" class="radio" value="1" id="video"/>Video</label>
                      </div>
                      <div>
                          <input type="file" name="photo" class="form-control" required/>
                      </div>
                      <br/>
                      <div>
                          <input class="btn btn-default submit" value="Ekle" type="submit" id="add" />
                      </div>

                      <div class="clearfix"></div>

                      <div class="separator">

                          <div class="clearfix"></div>
                          <br />

                          <div>
                              <h1><i class="fa fa-paw"></i> Smart Advertisement System</h1>
                              <p>©2018 All Rights Reserved.</p>
                          </div>
                      </div>

                  </form>
<div id="error"></div>
              </div>
          </div>
      </section>
    </div>


</div>
<div th:replace="LayoutDefault::js"></div>


<script>
    $("input:checkbox").on('click', function() {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    $("#add").click(function () {
        console.log("clicked");
        $.ajax({
            url: "/advertisement/addAdvertisement",
            method: "POST",
            data: $('#form').serialize(),
            dataType:'json',
            success: function (response) {
                console.log(response);
                alert("Kayıt başarılı.");
                window.location.href="/";

            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }


        });
    })
</script>

</body>
</html>