<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Reklam Ekleme</title>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
    <div class="right_col" role="main">
      <section>

          <div class="col-md-6 col-md-offset-3">
              <div class="x_panel">
                  <h2>Reklam Listele</h2>

                  <hr/>
                  <div class="x_content">
                      <table class="table">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Şirket Adı</th>
                              <th>Oynatma Süresi</th>
                              <th>Reklam Adı</th>
                              <th>Reklam</th>
                              <th>Oluşturulma Tarihi</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="advertisement : ${advertisement}">
                              <td th:text="${advertisement.id}"></td>
                              <td th:text="${advertisement.corporation_Name}"></td>
                              <td th:text="${advertisement.durationTime}"></td>
                              <td th:text="${advertisement.advertisement_Name}"></td>
                              <td><img id="advertisementImg" th:src="${advertisement.photo}" width="100" height="100"></td>
                              <td th:text="${advertisement.created_at}"></td>
                          </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
              <div class="x_panel">
                  <div class="x_content">
                      <div style="text-align: center">
                          <h1><i class="fa fa-paw"></i> Smart Advertisement System</h1>
                          <p>©2018 All Rights Reserved.</p>
                      </div>
                      <br/><br/>

                  </div>
              </div>
          </div>
      </section>
</div>
</div>
<div th:replace="LayoutDefault::js"></div>

<script>
    $("input:checkbox").on('click', function() {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    $("#add").click(function () {
        console.log("clicked");
        $.ajax({
            url: "/advertisement/addAdvertisement",
            method: "POST",
            data: $('#form').serialize(),
            dataType:'json',
            success: function (response) {
                console.log(response);
                alert("Kayıt başarılı.");
                window.location.href="/";

            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }


        });
    });


    function base64toImage(value){
        var image = new Image();
        image.src = value;
        return image;
    }
</script>

</body>
</html>