<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Reklam Ekleme</title>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
    <div class="right_col" role="main">
        <section>
            <div class="col-md-6 col-md-offset-3">
                <div class="x_panel">
                    <h2>Reklam Ekle</h2>

                    <hr/>
                    <div class="x_content">
                        <form id="demo-form" data-parsley-validate>
                            <label>Reklam Adı * :</label>
                            <input type="text" id="advertisementName" class="form-control" name="advertisementName" required />
                            <br/>
                            <label>Şirket Adı * :</label>
                            <input type="text" id="corporationName" class="form-control" name="corporationName" data-parsley-trigger="change" required />
                            <br/>
                            <label>Cinsiyet *:</label>
                            <p>
                                Erkek:
                                <input type="radio" class="flat" name="gender" id="erkek" value="1" checked="" required /> Kadın:
                                <input type="radio" class="flat" name="gender" id="kadin" value="2" />Çoçuk:
                                <input type="radio" class="flat" name="gender" id="cocuk" value="3" />
                            </p>
                            <br/>
                            <label>Reklam Süresi(sn):<input type="number" name="durationTime" class="form-control" id="time" min="10" max="59"  required/></label>
                            <br/>
                            <label for="categories">Reklam Kategorisi*:</label>
                            <select id="categories" class="form-control" name="categoryName" required>
                                <option th:each="category : ${category}" th:value="${category.id}" th:text="${category.categoryName}">Default</option>
                                <option value="1">set</option>
                            </select>
                            <br/>
                            <label>Reklam Tipi *:</label>
                            <p>
                                Video:
                                <input type="radio" name="type" class="tip" id="video" value="video" checked="" required /> Resim:
                                <input type="radio" name="type" class="tip"  id="photo" value="photo" />
                            </p>
                            <br/>
                            <input type="file" class="form-control" id="file" onchange="ValidateSingleInput(this)"  name="uploadFile" placeholder="Dosya" required/>
                            <br/>
                        </form>
                        <button type="submit" id="save" class="btn btn-success" style="float:right;">Kaydet</button>

                    </div>
                    <!-- end form for validations -->
                    <br/><br/>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div style="text-align: center">
                            <h1><i class="fa fa-paw"></i> Smart Advertisement System</h1>
                            <p>©2018 All Rights Reserved.</p>
                        </div>
                        <br/><br/>

                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<div th:replace="LayoutDefault::js"></div>


<script>
    var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png",".mp4","wav"];
    function ValidateSingleInput(oInput) {
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }

                if (!blnValid) {
                    alert("Üzgünüz, " + sFileName + " dosyasının uzantısı geçerli değil, Geçerli uzantılar: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
    $("input:checkbox").on('click', function() {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
    $("#save").click(function () {
        $.ajax({
            url: "/advertisement/uploadfile",
            type: "POST",
            dataType:'json',
            data: new FormData($("#demo-form")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                alert("başarılı");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        })
    });
    function upload(){
      //  alert("wait");
        $.ajax({
            url: "/advertisement/uploadfile",
            type: "POST",
            dataType:'json',
            data: new FormData($("#demo-form")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                console.log(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        })
    }
</script>

</body>
</html>