<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="LayoutDefault::head">
    <title>Reklam Ekleme</title>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="LayoutDefault::layout"></div>

    </div>
<br><br>
    <div class="right_col" role="main">
        <section>
            <div class="col-md-6 col-md-offset-3">
                <div class="x_panel">
                    <div class="x_content">
                        <div style="text-align: center">
                            <h1><i class="fa fa-paw"></i> Hoşgeldiniz!</h1>
                            <p>Smart Advertisement System otobuslerde cinsiyet ve yaşa göre reklam getirme algoritmasına sahip bir sistemdir.<a href="/reklamEkle"><b>Hadi başlayalım :)</b></a></p>
                        </div>


                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div style="text-align: center">
                            <h1><i class="fa fa-paw"></i> Smart Advertisement System</h1>
                            <p>©2018 All Rights Reserved.</p>
                        </div>
                        <br/><br/>

                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<div th:replace="LayoutDefault::js"></div>




</body>
</html>